.task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    background-color: #FFF;
    color: #000;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in, background-color 0.3s ease-out;
}

.task-text {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-wrap: wrap;
    line-break: normal;
    text-align: left;
    word-break: break-all;
    white-space: normal;
    transition: color 0.3s ease-out, text-decoration 0.3s ease-out;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.task.finished{
    background-color: #262626;
}
.task.finished > p {
    text-decoration: line-through;
    color: #F00;
}

.task.finished > div img {
    filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(12deg) brightness(104%) contrast(104%);
}

.task.finished > div img:hover {
    filter: brightness(0) saturate(100%) invert(37%) sepia(73%) saturate(6104%) hue-rotate(348deg) brightness(86%) contrast(141%);
}

.task.finished > div img:active {
    filter: brightness(0) saturate(100%) invert(37%) sepia(73%) saturate(6104%) hue-rotate(348deg) brightness(86%) contrast(141%);
}

.task-delete-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin-left: 0.8rem;
}

.task-delete-button {
    cursor: pointer;
    transition: filter 0.3s ease-out;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.task-delete-button:active {
    filter: invert(12%) sepia(59%) saturate(6153%) hue-rotate(357deg) brightness(121%) contrast(124%);
}

.task-delete-button:hover {
    filter: invert(12%) sepia(59%) saturate(6153%) hue-rotate(357deg) brightness(121%) contrast(124%);
}


