---
import { Image } from "astro:assets";
import CrossSVG from "../../public/Cross.svg";

const { title, description, id} = Astro.props;
---


<li class="task flex flex-row w-full justify-between items-center p-2" id={id} data-description={description}>
    <p>{title}</p>
    <div class="task-delete-button-container flex justify-center items-center">
        <Image loading="eager" class="task-delete-button" src={CrossSVG} alt="Cross SVG" width="30"/>
    </div>
</li>

<script>
    const taskDeleteButton = document.querySelectorAll('.task-delete-button');
    taskDeleteButton.forEach(button => {
        button.addEventListener('click', () => {
            button.parentElement?.parentElement?.remove();
        });
    });
</script>

<style>
    li {
        background-color: #FFF;
        color: #000;
        border-radius: 6px;
    }
    .task-delete-button-container {
        width: 30px;
        margin-left: 0.8rem;
    }

    .task-delete-button {
        cursor: pointer;
        transition: filter 0.2s ease;
    }

    .task-delete-button:hover {
        filter: invert(12%) sepia(59%) saturate(6153%) hue-rotate(357deg) brightness(121%) contrast(124%);
    }
</style>